<h3 class="text-white fs-6">Add Category</h3>
<form
  class="w-50 text-white"
  [formGroup]="categoryForm"
  (ngSubmit)="onAddCategory()"
>
  <div class="form-group">
    <label for="name">Category Name</label>
    <input
      type="text"
      class="form-control"
      id="name"
      placeholder="Category Name"
      formControlName="name"
      required
    />
  </div>
  <div class="form-group">
    <label for="desc">Description</label>
    <textarea
      type="text"
      class="form-control"
      id="desc"
      placeholder="Description"
      formControlName="desc"
      required
    ></textarea>
  </div>
  <span class="badge bg-danger fs-6 my-2" *ngIf="isError">
    Error Add New Category
  </span>
  <span class="badge bg-success fs-6 my-2" *ngIf="isSuccess">
    Success Add New Category
  </span>
  <button type="submit" class="btn btn-warning mt-2 w-100">Add</button>
  <a routerLink="/admin/categories" class="btn btn-success mt-2 w-100"
    >Category List</a
  >
</form>
