<div class="container d-flex flex-column">
  <h1 class="text-uppercase fw-bold">Books</h1>
  <div class="d-flex">
    <nav
      class="d-flex flex-column flex-shrink-0 py-3 ps-3 pe-4 text-white bg-dark rounded-start"
      style="width: 280px"
    >
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
          <a
            routerLink="/"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            class="nav-link"
            aria-current="page"
            >Dashboard</a
          >
        </li>
        <li class="nav-item">
          <a routerLink="/books" routerLinkActive="active" class="nav-link"
            >Books Management</a
          >
        </li>
        <li class="nav-item">
          <a
            routerLink="/issue"
            routerLinkActive="active"
            class="nav-link text-white"
            >Book Issue Management</a
          >
        </li>
        <li class="nav-item">
          <a
            routerLink="/barcode"
            routerLinkActive="active"
            class="nav-link text-white"
            >Book Barcode Management</a
          >
        </li>
        <li class="nav-item">
          <a
            routerLink="/category"
            routerLinkActive="active"
            class="nav-link text-white"
            >Book Category Management</a
          >
        </li>
        <li class="nav-item">
          <a
            routerLink="/rack"
            routerLinkActive="active"
            class="nav-link text-white"
            >Rack Management</a
          >
        </li>
        <li class="nav-item">
          <a
            routerLink="/users"
            routerLinkActive="active"
            class="nav-link text-white"
            >User Management</a
          >
        </li>
      </ul>
      <hr />
      <div class="auth-link">
        <ul class="nav text-small d-flex flex-column">
          <li class="nav-item">
            <a class="nav-link text-warning" href="#">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-warning" href="#">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-warning" href="#">Logout</a>
          </li>
        </ul>
      </div>
    </nav>
    <main class="bg-dark w-100 rounded-end pb-5 pt-3 px-3">
      <router-outlet></router-outlet>
    </main>
  </div>
  <footer class="text-end">
    <p class="text-muted fst-italic">Copyright &copy; 2023 BCA Books</p>
  </footer>
</div>
