<div class="d-flex">
  <nav
    class="d-flex flex-column flex-shrink-0 py-3 ps-3 pe-4 text-white bg-dark rounded-start"
    style="width: 300px"
  >
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a
          routerLink="/books"
          routerLinkActive="active"
          class="nav-link"
          aria-current="page"
          >Books Display</a
        >
      </li>
      <li class="nav-item">
        <a routerLink="/admin/books" routerLinkActive="active" class="nav-link"
          >Books Management</a
        >
      </li>
      <li class="nav-item">
        <a routerLink="/admin/loans" routerLinkActive="active" class="nav-link"
          >Books Loan Management</a
        >
      </li>
      <li class="nav-item">
        <a
          routerLink="/admin/categories"
          routerLinkActive="active"
          class="nav-link"
          >Books Category Management</a
        >
      </li>
      <li class="nav-item">
        <a routerLink="/admin/users" routerLinkActive="active" class="nav-link"
          >User Management</a
        >
      </li>
    </ul>
    <hr />
    <div class="auth-link">
      <ul class="nav text-small d-flex flex-column">
        <li class="nav-item" *ngIf="!isAuthenticated">
          <a class="nav-link text-warning" routerLink="/login">Login</a>
        </li>
        <li class="nav-item" *ngIf="isAuthenticated">
          <a class="nav-link text-warning" routerLink="#" (click)="onLogout()"
            >Logout</a
          >
        </li>
      </ul>
    </div>
  </nav>
  <ng-content></ng-content>
</div>
