<h3 class="text-white fs-6">Edit Category</h3>
<form
  class="w-50 text-white"
  [formGroup]="categoryForm"
  (ngSubmit)="onEditCategory()"
>
  <div class="form-group">
    <label for="name">Category Name</label>
    <input
      type="text"
      class="form-control"
      id="name"
      placeholder="Category Name"
      formControlName="name"
      required
    />
    <span
      class="text-danger"
      *ngIf="
        !categoryForm.get('name')!.valid &&
        (categoryForm.get('name')!.dirty || categoryForm.get('name')!.touched)
      "
    >
      Invalid Category Name
    </span>
  </div>
  <div class="form-group">
    <label for="desc">Description</label>
    <textarea
      type="text"
      class="form-control"
      id="desc"
      placeholder="Description"
      formControlName="desc"
      required
    ></textarea>
    <span
      class="text-danger"
      *ngIf="
        !categoryForm.get('desc')!.valid &&
        (categoryForm.get('desc')!.dirty || categoryForm.get('desc')!.touched)
      "
    >
      Invalid Category Description
    </span>
  </div>
  <span class="badge bg-danger fs-6 my-2" *ngIf="isError">
    {{
      customErrorMessage.trim().length === 0
        ? "Error Edit Category"
        : customErrorMessage
    }}
  </span>
  <span class="badge bg-success fs-6 my-2" *ngIf="isSuccess">
    Success Edit Category
  </span>
  <button
    type="submit"
    class="btn btn-warning mt-2 w-100"
    [disabled]="!categoryForm.valid"
  >
    Edit
  </button>
  <a routerLink="/admin/categories" class="btn btn-success mt-2 w-100"
    >Category List</a
  >
</form>
